<div class="profileContainer">
    <div class="top"><a href="/profiles/{{profile.username}}">{{profile.username}}</a>, {{profile.age}}</div>
    <div class="mid">Plays {{profile.type}} in: {{profile.band}} (Skill: {{profile.skill}})</div>
    <div class="bot">Intrested in: {{profile.genre}}</div>
    <div class="contact">Phone:{{profile.phone}}, Email:{{profile.email}}</div>
</div>