<div class="profileContainer">
    <div class="top"><a href="/profiles/{{a.username}}">{{a.username}}</a>, {{a.age}}</div>
    <div class="mid">Plays {{a.type}} in: {{a.band}} (Skill: {{a.skill}})</div>
    <div class="bot">Intrested in: {{a.genre}}</div>
    <div class="contact">Phone:{{a.phone}}, Email:{{a.email}}</div>
</div>